body {
    margin: 0;
    font-family: 'Segoe UI', sans-serif;
    background-color: #f8f9fa;
    color: #333;
}

header {
    background: linear-gradient(to right, #4CAF50, #8BC34A);
    color: white;
    text-align: center;
    padding: 40px 20px;
}

nav {
    background-color: #2e7d32;
    text-align: center;
    padding: 10px 0;
}

nav a {
    color: white;
    margin: 0 20px;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.1em;
}

section {
    padding: 40px 20px;
    max-width: 900px;
    margin: auto;
}

h2 {
    color: #2e7d32;
}

ul {
    list-style: none;
    padding: 0;
}

ul li {
    margin: 10px 0;
    padding-left: 1em;
}

.galeria {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.galeria img {
    width: 100%;
    max-width: 300px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    object-fit: cover;
}

footer {
    background-color: #2e7d32;
    color: white;
    text-align: center;
    padding: 20px 0;
}

.formulario button {
    background-color: #CB6D43;
    border: none;
    font-weight: bold;
}

.form-control {
    background-color: #F1EDEF;
}

.menu-acessibilidade{
    position: fixed;
    top:2rem;
    right:20px;
    z-index: 1000;
}

.rotacao-botao{
    transform: rotate(-90deg);
    transform-origin: right center;
}

.opcoes-acessibilidade{
    margin-top:10px;
    display: flex;
    flex-direction: column;
}

.opcoes-acessibilidade button{
    margin-bottom: 5px;
}
